#will be automatically picked up by composer

COMPOSE_FILE=docker-compose.yml:docker-compose.gpu.yml
TORCH_INDEX=https://download.pytorch.org/whl/cu130
TB_LOGDIR="/workspace/tb_rl_0"

#picked up by rclone
RCLONE_DEST="rclone/my-results"
