tags
.DS_Store
Thumbs.db
.vscode
build/
dist/
*.egg-info/
__pycache__/

results/
tb_libinvent_*/
configs/priors/*
docking_setup/
configs/*.smi
configs/iterations
models/
tb_TL/
tb_sampling/
*.log
host.env
