tags
.DS_Store
Thumbs.db
.vscode
build/
dist/
*.egg-info/
__pycache__/

results/*
tb_libinvent_*/
configs/priors/*
docking_setup/
configs/*.smi
configs/*.template.toml
configs/iterations
rclone.conf
models/
tb_rl*/
logs/*.log
host.env
.env
tb_stats.csv
